.btn {
    width: 15%;
    margin-left: 50%;
    margin-top: 3%;

}

input {
    width: 60%;
    margin-left: 5%;
}

h3 {
    margin-left: 5%;
}

h1 {
    margin-bottom: 5%;
    margin-left: 5%;
}