<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">APPOINTMENT :</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Name Patient</th>
                            <th>Spécialité</th>
                            <th>Prix visite</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Etat</th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr *ngFor="let i of k">
                            <td>{{i.nomp}}</td>
                            <td>{{i.spec}}</td>
                            <td>{{i.prix}}</td>
                            <td>{{i.date}}</td>
                            <td>{{i.Time}}</td>
                            <td>{{i.etat}}</td>
                            <td *ngIf="i.etat === 'En attend'">
                                <button (click)="a(i)" type="button" class="btn btn-success">Accepter</button>
                                <button (click)="g(i)" type="button" class="btn btn-danger">Refusé</button>
                            </td>





                        </tr>


                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>