.form-select {
    width: 60%;
    margin-left: 5%;
}

.m {
    margin-left: 5%;
    margin-top: 5%;
}

.m1 {
    margin-left: 5%;
    margin-top: 2%;
}

.form-control {
    width: 60%;
    margin-left: 5%;

}

.btn {
    width: 15%;
    margin-left: 50%;
    margin-top: 3%;

}

.alert {
    margin-top: 2%;
    width: 60%;
    margin-left: 5%;

}